@charset "UTF-8";
/*
 **功能：公用样式表
 **
 **/

 /*初始化标签样式*/
 body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,div,section{
 	margin:0;
 	padding:0;
 }
 ul{
 	list-style: none;
 }
 a{
 	text-decoration: none;
 }
 input,button{
 	outline: none;
 }
 /*显示设置H5标签类型:兼容老版本浏览器*/
 header,footer,nav,aside,article,section{
 	display: block;
 }
 /*清除浮动*/
 .clearfix:after{
 	clear:both;
 }
 .clearfix:before,.clearfix:after{
 	content: '';
 	display: table;
 }
 /*浮动*/
 .fl{float: left;}
 .fr{float: right;}


